.jumbotron{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    padding: 1%;
    background-color:#2C3D51;
}
p{
    font-size: 60px;
    text-align: center;
    color:white;
}
#title{
    color: red;
    font-size: 110px;
}
.col-md-7{
    padding-left: 10%;
    font-family: 'K2D', sans-serif;
}