
<hr>
<div class="french">
    <h1>QUOTES PRO</h1>
</div>
<div class="container">
        <div class="row">
                <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
            </div>
    <div class="row" *ngFor="let quote of quotes;let i = 'index'">
        <div>
            <h4 *ngIf="showDesccription" >{{quote.name}} </h4>
            <button class="btn btn-primary" (click)="toggleQuote()">{{showDescription? "Hide":"Show"}}  Details</button>
        </div>
        
        <div  >
            <p id="{{i}}" strikeThrough>{{quote.description}}</p>
        <!-- <app-quote-details  [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details> -->
    </div>
    <div *ngIf="showDescription">
        <p><app-vote></app-vote></p>
    </div>
    <div>
        <p>Submitted by {{quote.submitter}}, {{quote.completeDate|dateCount}} days ago</p>
    </div>
    <div>
        <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
    </div>
</div>

</div>

<p *ngIf='quotes.length > 5'>You have too many goals</p>