<div class="container-fluid" id="name">
        <div class="row">
            <form (ngSubmit)='submitGoal()' #quoteForm='ngForm'>
                <!-- Author Form -->
                <div class="form-group">
                    <label for="name">Author's Name</label>
                    <input type="text"  class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
                    
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        <p>kindly input Author name</p>
                        
                    </div>
                </div>
                <!-- quote input -->
                <div class="form-group">
                    <label for="description">Quote</label>
                    <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="quote" #description="ngModel" required></textarea>
                    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                        <p> kindly input a quote please</p>
                        
                    </div>
                    
                </div>
                <!-- submitter-->
                <div class="form-group">
                    <label for="submitter">Submitted by</label>
                    <textarea class="form-control" id="submitter" rows="2" [(ngModel)]="newQuote.submitter" name="submitter" #description="ngModel" required></textarea>
                    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                        <p> kindly write your name!</p>
                        
                    </div>
                </div>
                <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
            </form>
        </div>
    </div>